<footer class="footer">
  <small>
    <a href="#">Interns Clock - Sistema de apontamento de horas</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   '#' %></li>
    </ul>
  </nav>
</footer>